# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
vanta_app/ios
vanta_app/android
vanta_app/modules/vanta-bridge/android/.cxx
vanta_app/modules/vanta-bridge/android/build
vanta_app/modules/vanta-bridge/.idea

# data
**/data 


# Model
**/.onnx_model/
modules/vanta-bridge/.idea/deviceManager.xml
modules/vanta-bridge/.idea/discord.xml
modules/vanta-bridge/.idea/misc.xml
modules/vanta-bridge/.idea/modules.xml
modules/vanta-bridge/.idea/vanta-bridge.iml
modules/vanta-bridge/.idea/vcs.xml
modules/vanta-bridge/.idea/caches/deviceStreaming.xml
modules/vanta-bridge/android/.cxx/tools/debug/arm64-v8a/compile_commands.json
modules/vanta-bridge/android/.cxx/tools/debug/armeabi-v7a/compile_commands.json
modules/vanta-bridge/android/.cxx/tools/debug/x86/compile_commands.json
modules/vanta-bridge/android/.cxx/tools/debug/x86_64/compile_commands.json

